    /* .app-bar{
        background-color: #d3d3d3;
        color: gray;
    }

    .tabs{
        flex-grow: 1;
        background-color: white !important;
        color: gray !important;
        border: 1px solid;

        margin-top: 5rem;
        margin: 15px;
    } */